<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.hiddenbrains.calc" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/calculator_icon1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.MainActivity"
            android:configChanges="locale|orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SimpleCalCActivity"
            android:configChanges="locale|orientation"
            android:label="@string/SimpleCalculator"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.InterestCalcActivity"
            android:label="@string/title_activity_interest_calc"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.InterestCalCOutputActivity"
            android:label="@string/title_activity_interest_cal_coutput"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.ConvertorCalcActivity"
            android:label="@string/title_activity_convertor_calc"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.MortgageCalcActivity"
            android:label="@string/title_activity_finalcial_calc"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.MortgageCalCOutputActivity"
            android:label="@string/title_activity_mortgage_cal_coutput" >
        </activity>
        <activity
            android:name=".Activities.ScientificCalCActivity"
            android:label="@string/title_activity_scientific_cal_c" >
        </activity>
        <activity
            android:name=".Activities.TimeCalCActivity"
            android:label="@string/title_activity_time_cal_c"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.LoveCalCActivity"
            android:label="@string/title_activity_love_cal_c"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme" >
        </activity>
        <activity
            android:name=".Activities.LovaCalCMainActivity"
            android:label="@string/title_activity_lova_cal_cmain"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.LovaCalCOutputActivity"
            android:label="@string/title_activity_lova_cal_coutput"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.SimpleCalCRecentTransActivity"
            android:label="@string/title_activity_simple_cal_crecent_trans"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.HealthActivity"
            android:label="@string/title_activity_health" >
        </activity>
    </application>

</manifest>
